/* 公共样式 */
*{
    margin: 0;
    padding: 0;
}
body,html{
    height: 100%;
}
li{
    list-style-type: none;
}
@baseColor : #006699;

.my-header {
    background: @baseColor;
    h1{
    color: #fff;
    }
    a{
    color: #ffffff;
    }
    .icon{
    color: #ffffff;

    }

}
.footer{
    background: @baseColor;
    span{
    color: #fff;
    }
}

.mui-content{
    background: #fff;
    height: 100%;
}