/* 公共样式 */
* {
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
}
li {
  list-style-type: none;
}
.my-header {
  background: #006699;
}
.my-header h1 {
  color: #fff;
}
.my-header a {
  color: #ffffff;
}
.my-header .icon {
  color: #ffffff;
}
.footer {
  background: #006699;
}
.footer span {
  color: #fff;
}
.mui-content {
  background: #fff;
}
form .getCode {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #006699;
}
form .registerBtn {
  width: 90%;
  margin: 0 auto;
  background-color: #006699;
}
form .loginBtn {
  width: 90%;
  margin: 0 auto;
  background-color: #006699;
}
.login-now {
  display: block;
  margin-top: 10px;
  padding-right: 10px;
  text-align: right;
  color: #006699;
}
